COMPOSE_PROJECT_NAME=rigel

POSTGRES_DB=rigel
POSTGRES_USER=rigel
POSTGRES_PASSWORD=rigel
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

RIGEL_LOG_LEVEL=debug
RIGEL_HTTP_READ_TIMEOUT=5s
RIGEL_HTTP_WRITE_TIMEOUT=2m
RIGEL_HTTP_IDLE_TIMEOUT=30s

RIGEL_JD_COLLECTOR_PORT=18081
RIGEL_JD_BROWSER_COLLECTOR_PORT=18086
RIGEL_BUILD_ENGINE_PORT=18082
RIGEL_CONSOLE_PORT=18084
RIGEL_GOOFISH_COLLECTOR_PORT=18085

RIGEL_POSTGRES_DSN=postgres://rigel:rigel@postgres:5432/rigel?sslmode=disable
RIGEL_REDIS_ADDR=redis:6379

RIGEL_JD_COLLECTOR_MODE=mock
RIGEL_JD_BROWSER_COLLECTOR_BASE_URL=http://rigel-jd-browser-collector:18086
RIGEL_JD_BROWSER_COLLECTOR_MODE=mock
RIGEL_JD_FALLBACK_TO_MOCK=true
RIGEL_JD_HEADLESS=true
RIGEL_JD_NAV_TIMEOUT_MS=30000
RIGEL_JD_USER_AGENT=
RIGEL_JD_COOKIE=
RIGEL_JD_COOKIE_FILE=/run/rigel/jd-cookie
RIGEL_JD_STORAGE_STATE_PATH=state/jd-storage-state.json
RIGEL_JD_REFERER=https://www.jd.com/
RIGEL_JD_BASE_URL=https://search.jd.com
RIGEL_JD_SELF_OPERATED_ONLY=true
RIGEL_JD_SCREENSHOT_ON_RISK=false
RIGEL_JD_SCREENSHOT_DIR=screenshots
RIGEL_BUILD_ENGINE_MODE=local
RIGEL_CONSOLE_FRONTEND_MODE=embedded
RIGEL_GOOFISH_COLLECTOR_MODE=adapter_stub
RIGEL_BUILD_ENGINE_BASE_URL=http://rigel-build-engine:18082
RIGEL_JD_COLLECTOR_BASE_URL=http://rigel-jd-collector:18081
